.nav {
  margin-left: 300px;
  text-align: center;
  font-weight: 1000;

  color: white;
  background-color:darkblack;
}
.nav :hover {
  background-color: blue;
}
.logo img {
  width: 200px;
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .nav {
    margin-left: 200px;
  }
  .nav1 {
    padding-right: 350px;
  }
}
