.hero-section {
  background: url('../../../images//image1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
}
.hero-right.text-center h2 {
  font-size: 36px;
  text-transform: uppercase;
  color: #e32a2a;
  font-weight: 700;
  display: block;
}
.hero-right.text-center a {
  text-decoration: none;
  background: yellow;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  font-weight: 600;
  
}
.hero-right.text-center {
  margin-right: 130px;
}