.subscribe-area {
  background-color: #000000;
}
.container.box {
  border: 1px solid #5e5b5b;
  padding: 30px 40px;
  border-radius: 10px;
}
.subscribe-area-left h2 span {
  color: #fff;
  display: block;
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 5px;
}
.subscribe-area-left h2 {
  color: #93d70c;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 40px;
}
.subscribe-box input {
  width: 40%;
  padding: 8px 13px;
  border: 0;
  border-radius: 3px;
}
.subscribe-box button {
  padding: 8px 40px;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #008dc2;
  margin-left: 10px;
}
.subscribe-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.subscribe-right ul li {
  display: flex;
  color: #ffe714;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
}
.subscribe-right ul li img {
  margin-right: 10px;
  width: 50px;
}

.bottom a {
  text-decoration: none;
  color: #fff;
  padding: 30px;
  font-weight: 700;

}
.affliate a{
font-size:50px;
font-weight: 700;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .subscribe-right ul li {
    display: flex;

    text-transform: uppercase;
    /* font-weight: 700; */
    font-size: 24px;
    margin-bottom: 12px;
    text-decoration: none;
  }

  .subscribe-box input {
    width: 150%;
    padding: 8px 13px;
    border: 0;
    border-radius: 3px;
  }
}
